<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppDomainToolkit" version="1.0.4.3" targetFramework="net47" />
  <package id="Humanizer.Core" version="2.5.16" targetFramework="net47" />
  <package id="ICSharpCode.Decompiler" version="4.0.0.4521" targetFramework="net47" />
  <package id="Mono.Cecil" version="0.10.3" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net47" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>